//:SECTION: NunitoSans
@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-display: block;
  font-weight: 400;
  src:
    url("~/assets/fonts/NunitoSans/NunitoSans-Regular.ttf") format("ttf"),
}

@font-face {
  font-family: "Nunito Sans";
  font-style: italic;
  font-display: block;
  font-weight: 400;
  src:
    url("~/assets/fonts/NunitoSans/NunitoSans-Italic.ttf") format("ttf"),
}

@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-display: block;
  font-weight: 600;
  src:
    url("~/assets/fonts/NunitoSans/NunitoSans-SemiBold.ttf") format("ttf"),
}

@font-face {
  font-family: "Nunito Sans";
  font-style: italic;
  font-display: block;
  font-weight: 600;
  src:
    url("~/assets/fonts/NunitoSans/NunitoSans-SemiBoldItalic.ttf") format("ttf"),
}

@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-display: block;
  font-weight: 700;
  src:
    url("~/assets/fonts/NunitoSans/NunitoSans-Bold.ttf") format("ttf"),
}

@font-face {
  font-family: "Nunito Sans";
  font-style: italic;
  font-display: block;
  font-weight: 700;
  src:
    url("~/assets/fonts/NunitoSans/NunitoSans-BoldItalic.ttf") format("ttf"),
}

@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-display: block;
  font-weight: 800;
  src:
    url("~/assets/fonts/NunitoSans/NunitoSans-ExtraBold.ttf") format("ttf"),
}

@font-face {
  font-family: "Nunito Sans";
  font-style: italic;
  font-display: block;
  font-weight: 800;
  src:
    url("~/assets/fonts/NunitoSans/NunitoSans-ExtraBoldItalic.ttf") format("ttf"),
}

@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-display: block;
  font-weight: 900;
  src:
    url("~/assets/fonts/NunitoSans/NunitoSans-Black.ttf") format("ttf"),
}

@font-face {
  font-family: "Nunito Sans";
  font-style: italic;
  font-display: block;
  font-weight: 900;
  src:
    url("~/assets/fonts/NunitoSans/NunitoSans-BlackItalic.ttf") format("ttf"),
}

//:SECTION: Sarabun
@font-face {
  font-family: "Sarabun";
  font-style: normal;
  font-display: block;
  font-weight: 300;
  src:
    url("~/assets/fonts/Sarabun/Sarabun-Light.ttf") format("ttf"),
}

@font-face {
  font-family: "Sarabun";
  font-style: italic;
  font-display: block;
  font-weight: 300;
  src:
    url("~/assets/fonts/Sarabun/Sarabun-LightItalic.ttf") format("ttf"),
}

@font-face {
  font-family: "Sarabun";
  font-style: normal;
  font-display: block;
  font-weight: 400;
  src:
    url("~/assets/fonts/Sarabun/Sarabun-Regular.ttf") format("ttf"),
}

@font-face {
  font-family: "Sarabun";
  font-style: normal;
  font-display: block;
  font-weight: 500;
  src:
    url("~/assets/fonts/Sarabun/Sarabun-Medium.ttf") format("ttf"),
}

@font-face {
  font-family: "Sarabun";
  font-style: italic;
  font-display: block;
  font-weight: 500;
  src:
    url("~/assets/fonts/Sarabun/Sarabun-MediumItalic.ttf") format("ttf"),
}

@font-face {
  font-family: "Sarabun";
  font-style: normal;
  font-display: block;
  font-weight: 600;
  src:
    url("~/assets/fonts/Sarabun/Sarabun-SemiBold.ttf") format("ttf"),
}

@font-face {
  font-family: "Sarabun";
  font-style: italic;
  font-display: block;
  font-weight: 600;
  src:
    url("~/assets/fonts/Sarabun/Sarabun-SemiBoldItalic.ttf") format("ttf"),
}

@font-face {
  font-family: "Sarabun";
  font-style: normal;
  font-display: block;
  font-weight: 700;
  src:
    url("~/assets/fonts/Sarabun/Sarabun-Bold.ttf") format("ttf"),
}

@font-face {
  font-family: "Sarabun";
  font-style: italic;
  font-display: block;
  font-weight: 700;
  src:
    url("~/assets/fonts/Sarabun/Sarabun-BoldItalic.ttf") format("ttf"),
}

@font-face {
  font-family: "Sarabun";
  font-style: normal;
  font-display: block;
  font-weight: 800;
  src:
    url("~/assets/fonts/Sarabun/Sarabun-ExtraBold.ttf") format("ttf"),
}

@font-face {
  font-family: "Sarabun";
  font-style: italic;
  font-display: block;
  font-weight: 800;
  src:
    url("~/assets/fonts/Sarabun/Sarabun-ExtraBoldItalic.ttf") format("ttf"),
}

