
@font-face {
  font-family: 'Helvetica Neue';
  src: url('~@/assets/fonts/HelveticaNeue.ttf');
}

@font-face {
  font-family: 'Helvetica Neue Medium';
  src: url('~@/assets/fonts/HelveticaNeue-Medium.ttf');
}

@font-face {
  font-family: 'Helvetica Neue Bold';
  src: url('~@/assets/fonts/HelveticaNeue-Bold.ttf');
}

@font-face {
  font-family: 'Helvetica Neue Light';
  src: url('~@/assets/fonts/HelveticaNeue-Light.ttf');
}