a {
  text-decoration: none;
}

h2 {
  font-size: 1.8125rem;
}

h6 {
  font-size: 1.15rem;
  font-weight: 600;
}

small {
  font-size: 100%;
}

label {
  font-weight: 600;
}

.v-application .display-2 {
  font-size: 3rem !important;
  font-weight: 700;
  line-height: 3.125rem;
  letter-spacing: normal !important;
  font-family: "Sarabun", sans-serif !important;
}