.min-auto {
  min-width: auto !important;
}

.max-h-100 {
  max-height: 100% !important;
}

.pointer {
  cursor: pointer;
}

.separator {
  border-style: solid;
  border-color: var(--base-separator);
  border-width: 0;

  &--left {
    border-left-width: 1px;
  }
}

.v-dialog--fullscreen {
  width: 81vw !important;
  width: calc(100vw - 260px) !important;
  top: 65px !important;
  left: auto !important;
  right: 0 !important;
}

.v-text-field__details {
  padding-left: 0rem !important;
}

.v-input--is-disabled .v-input__slot {
  background-color: #EAECEF !important;

  input {
    font-style: italic;
  }
  
}

.v-expansion-panel::before {
  box-shadow: none !important;
}

.v-expansion-panel-content__wrap {
  padding: 0 0 1rem 0 !important;
}

.v-list--dense .v-list-item .v-list-item__title {
  @include text-size-1rem;
  @include font-regular;
}

.v-list-item--link:before {
  background-color: #eaecef00 !important;
}


@media only screen and (max-width: 1920px) {
  .container {
    max-width: 1200px !important;
  }

  .container--fluid {
    max-width: 100% !important;
  }
}

.v-toolbar__extension {
  border-top: 1px solid #EAEDF6;
}

.main-drawler .v-list-item__content {
  margin-left: -1rem !important;
}

.v-application .title {
  font-size: 1.8125rem !important;
  @include font-medium;
}