.tab {
  .v-tabs {
    font-family: 'Nunito sans';
    
    .v-tab {

      text-transform: capitalize;
    }

    .v-slide-group__content {
      div:not(.v-tab--active) {
        border-bottom: 2px solid #d6d6d6;
        box-sizing: border-box;
        color: black;
      }
    }
  }
}
