.signin-container {
    min-height: 100vh;
}
.bg-color {
    position: relative;
    background: linear-gradient(45deg, rgba(209, 232, 255, 1) 0%, rgba(0, 72, 142, 1) 100%);
}

.overlay {
    position: fixed;
    bottom: -5%;
    left: 0;
    width: 100%;
}

.overlay-book {
    position: fixed;
    height: 40%;
    top: 61%;
    left: 71%;
}

.overlay-moon {
    position: fixed;
    height: 300px;
    top: 1%;
    left: 65%;
}

.overlay-tree {
    position: fixed;
    height: 400px;
    top: 42%;
    left: 10%;
}

.overlay-logo {
    position: fixed;
    top: 10%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    max-width: 120px;
}

.rules {
    position: fixed;
    bottom: 0%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.reset-password:hover {
    text-decoration: underline;
}

.fixed__btn {
    position: fixed;
    right: 20%;
    top: 10%;
    animation: float 6s ease-in-out infinite;

    box-sizing: border-box;
	border: 5px white solid;
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
}

.fixed__btn2{
    position: fixed;
    right: 13%;
    top: 10%;
    animation: float 4s ease-out infinite;

    box-sizing: border-box;
	border: 5px white solid;
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
}

/* Using SCSS variables to store breakpoints */
$breakpoint-mobile: 600px;
@media (max-width: $breakpoint-mobile) {
    .overlay-book {
        position: fixed;
        height: 40%;
        top: 61%;
        left: 51%;
    }

    .fixed__btn {
        position: fixed;
        right: 5%;
        top: 90% !important;
    }
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}
