.signin-container {
    height: 100vh;
}
.bg-color {
    position: relative;
    background: linear-gradient(45deg, rgba(209, 232, 255, 1) 0%, rgba(0, 72, 142, 1) 100%);
}

.overlay {
    position: fixed;
    top: 41%;
    left: 0;
}

.overlay-book {
    position: fixed;
    height: 40%;
    top: 61%;
    left: 71%;
}

.overlay-moon {
    position: fixed;
    height: 300px;
    top: 1%;
    left: 65%;
}

.overlay-tree {
    position: fixed;
    height: 400px;
    top: 42%;
    left: 10%;
}

.rules {
    position: fixed;
    bottom: 0%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.reset-password:hover {
    text-decoration: underline;
}

